/vendor
/node_modules
.env
 (2).gitattributes
 (2).gitignore
.env.example
artisan (2)
composer (2).json
composer (2).lock
gulpfile (2).js
package (2).json
phpspec (2).yml
phpunit (2).xml
readme (2).md
server (2).php
